<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>包客来</title>
</head>
<!-- <script src=<%= htmlWebpackPlugin.options.path %>/tinymce/tinymce.min.js></script> -->
<script src=<%= htmlWebpackPlugin.options.path %>/Ueditor/ueditor.config.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>/Ueditor/ueditor.all.min.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>/Ueditor/lang/zh-cn/zh-cn.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>/Ueditor/ueditor.parse.min.js></script>

<script type="text/javascript">
document.oncontextmenu = function() {　　
  return false;
}

</script>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
